* { box-sizing: border-box; }
body {
    font-family: 'Open Sans';
    font-size:14px;
}
img {
	max-width: 100%;
}
.topnav.navbar {
	background-color:#f9f9f9;
	border-bottom:1px solid #e0e0e0;
	min-height:40px;
	margin-bottom:0px;
}
.topnav .navbar-nav>li>a {
	padding-top:10px;
    padding-bottom:10px;
    color:#3D3D3D;
}
.topnav .nav>li>a:hover,
.dropdown.open .dropdown-toggle {
	background:none;
	color:#59b210;
}
header {
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #e0e0e0;
}
.logo {
	text-align: center;
	margin-top: 10px;
}
.logo img {
	width:100%;
	max-width:150px;
}
.head_help,
.head_email {
	height:20px;
	line-height:20px;
	padding-left:27px;
	padding-right:15px;
	background-size:20px 20px;
	background-repeat:no-repeat;
	background-position:left center;
	display:inline;
}
.head_help {
	background-image:url('../images/phone.png');
}
.head_email {
	background-image:url('../images/mail.png');
}
.head_email span {
	color:#59b210;
}
.search_area {
	clear:both;
	height:50px;
	border:3px solid #c6c6c6;
	border-radius:7px;
	margin-top:10px;
	overflow: hidden;
}
.search_area input, .search_area select {
	border:0;
	margin:0;
	padding:0;
	outline:0;
	background-color:#FFF;
}
.search_area input[type=text] {
	height:44px;
	float:left;
	width:50%;
	padding-left:15px;
}
.search_area select {
	width:35%;
	height:44px;
	float:left;
	border-left:1px solid #CCC;
	border-radius:0px;
}
.search_area input[type=submit] {
	width:15%;
	height:44px;
	float:left;
	background-color:#59b210;
	background-image:url('../images/search.png');
	background-size:auto 50%;
	background-repeat:no-repeat;
	background-position:center;
}

.cartarea {
	float:right;
	margin-top:27px;
}
.carticon {
	width:50px;
	height:50px;
	background-image:url('../images/cart.png');
	background-size:50px 50px;
	background-repeat:no-repeat;
	background-position:center;
	padding-left: 18px;
    padding-top: 6px;
    display:inline-block;
    vertical-align:top;
}
.carttotal {
	display:inline-block;
	color:#000;
}
.carttotal span {
	color:#59b210;
	font-size:20px;
	font-weight: bold;
}
.cartqt {
	width:20px;
	height:20px;
	text-align:center;
	line-height:20px;
	color:#FFF;
	font-weight: bold;
	font-size:12px;
	background-color:#59b210;
	border-radius:10px;
}

.categoryarea {
	margin-top:27px;
	margin-bottom:27px;
}
.categoryarea .container {
	background-color:#f9f9f9;
	height:60px;
	padding:0;
	border-radius:5px;
}
.categoryarea .navbar-nav>li>a {
	padding-top:20px;
	padding-bottom:20px;
}
.categoryarea .nav>li>a:hover {
	background-color:#ECECEC;
}
.categoryarea a {
	color:#000;
	border-right: 1px solid #e0e0e0;
}
.categoryarea .dropdown {
	background-color:#59b210;
	border-radius:5px;
}
.categoryarea .dropdown .dropdown-toggle {
	background-image: url('../images/list.png');
	background-size: 20px auto;
	background-position:15px center;
	background-repeat:no-repeat;
	color:#FFF;
	font-weight: bold;
	padding-left:45px;
	border-right:0px;
}
.categoryarea .nav>li.dropdown>a:focus,
.categoryarea .nav>li.dropdown>a:hover {
	background-color:#59b210;
	border-radius:5px;
}

section {
	margin-bottom:50px;
}
section .container {
	padding:0;
}
h1 {
	font-size:24px;
	margin-top:0;
	margin-left:0;
	padding-left:0;
}
.filterarea {
	border: 2px solid #ececec;
    border-radius: 10px;
    padding:10px;
}

.widget {
	margin-top: 20px;
	margin-bottom: 20px;
}
.widget h1 {
	border-bottom:1px solid #E0E0E0;
	padding-bottom:15px;
}
.dropdown-menu {
	width: 100%;
}
footer {
	padding-top:30px;
	background-color: #F9F9F9;
    border-top: 1px solid #e0e0e0;
}
.subarea {
	margin-top:50px;
	margin-bottom:50px;
}
.subarea form {
	margin:0;
	padding:0;
}
.subarea:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
    margin-top: 30px;
}
.subarea .subemail {
	margin:0;
	width:80%;
	height:60px;
	display:inline-block;
	border:0;
	padding:0;
	border:1px solid #E0E0E0;
	border-radius:5px 0 0 5px;
	outline:0;
	padding-left:15px;
}
.subarea input[type=submit] {
	margin:0;
	width:20%;
	height:60px;
	display:inline-block;
	border:0;
	padding:0;
	outline:0;
	border-radius:0 5px 5px 0;
	margin-left: -5px;
	color:#FFF;
	background-color:#59b210;
}
.subarea input[type=submit]:hover {
	background-color:#60c011;
}
footer h3 {
	margin-top:0;
	margin-left:0;
	margin-bottom:30px;
	font-size:18px;
}
.links {
	margin-bottom:50px;
}
.linkgroups a {
	color: #acacac;
	text-decoration: none;
}
.linkgroups a:hover {
	color:#59b210;
}
.linkgroups ul,
.linkgroups li {
	margin:0 0 12px 0;
	padding:0;
	list-style:none;
}
.copyright {
	background-color: #3D3D3D;
    padding: 17px 0;
    line-height: 30px;
    color: #8a8a8a;
}
.copyright span {
	color:#FFF;
}
.payments {
	text-align: right;
}
.payments img {
	height:30px;
	background-color:#FFF;
	border-radius:4px;
	margin-right:3px;
}
.no-padding {
	padding:0;
}

/** Produtos **/
.product_item {
	padding: 10px;
}
.product_item:hover {
	background: #EEE;
}
.product_item a {
	color: initial;
	display: block;
	text-decoration: none;
}
.product_tags {
	position: absolute;
	display: flex;
	flex-direction: column;
}
.product_tag {
	position: relative;
	display: inline-block;
	align-self: flex-start;
	color: white;
	background: #000;
	padding: .3em .8em;
	margin-top: .2em;
	font-size: 1.1rem;
	text-transform: uppercase;
}
.product_tag::after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	height: 100%;
	width: 3rem;
	background: inherit;
	background-image: linear-gradient(135deg, transparent 50%, white 50%);
}
.tag_red {background-color: red;}
.tag_red::after {
	background: linear-gradient(135deg, red 50%, transparent 50%);
}
.tag_green {background-color: green;}
.tag_green::after {
	background: linear-gradient(135deg, green 50%, transparent 50%);
}
.tag_blue {background-color: blue;}
.tag_blue::after {
	background: linear-gradient(135deg, blue 50%, transparent 50%);
}
.product_name {
	font-weight: bold;
	color: #00F;
}
.product_brand {
	font-size: 11px;
}
.product_price,
.product_price_from {
	margin-top: 15px;
}
.product_price_from {
float: left;
	color: #AAA;
	font-size: 12px;
}
.product_price {
	float: right;
	font-weight: bold;
}
/** Paginação **/
.paginate {
	display: flex;
	width: 100%;
	padding-top: 20px;
}
.paginate a {
	display: inline-block;
	border: 1px solid #AAA;
	padding: .4em .9em;
	margin-right: .2em;
	text-decoration: none;
	color: initial;
}
.paginate a:hover,
.paginate .activated {
	border-color: initial;
}
/** FITLER **/
.filterbox {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.filterbox label {
	font-weight: normal;
}
.filtertitle {
	color: #59B210;
	font-weight: bold;
	padding-bottom: .2em;
	margin-bottom: .5em;
	border-bottom: 1px solid #EEE;
}
/* slider */
#amount {
	border: none;
	outline: none;
}

/** WIDGET **/
.widget_item {
	display: flex;
	margin-bottom: 1rem;
}
.widget_item a,
.widget_item a:hover {
	text-decoration: none;
	color: inherit;
}
.widget_image {
	width: 20%;
	border: 1px solid #ccc;
	padding: .5rem;
	background: white;
}
.widget_desc {
	flex: 1;
	padding-left: 1.4rem;
}
.widget_desc * {
	margin: 0;
}
.widget_desc h3 {
	font-size: 1em;
	margin-bottom: .2em;
	color: rgb(23, 23, 172);
	font-weight: bold;
}
.widget_desc p {
	font-size: .9em;
}
.widget_desc span {
	color: #AAA;
}
.p_price_from {
	font-size: 1em;
	color: #CCC;
}
.p_price_origin {
	font-size: 2em;
	font-weight: bold;
}
.f-add-cart {
	margin-top: 2em;
}
.f-add-cart > input {
	height: 4em;
	text-align: center;
}
.f-add-cart [type=submit] {
	background-color: #59b210;
	border-radius: 5px;
	border: none;
	color: white;
	padding-left: 1.3em;
	padding-right: 1.3em;
}
.gallery {
	display: flex;
}
.photo_item {
	width: 25%;
	padding: 1rem;
}
.table-cart td {
	vertical-align: middle !important;
}
.table-cart th:nth-child(1n+3),
.table-cart td:nth-child(1n+3) {
	text-align: center;
}
.table-cart .tal {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}
.cell-empty {
	position: relative;
}
.cell-empty .empty {
	position: absolute;
	left: -2%;
	right: -2%;
	top: 0;
	bottom: 0;
	background: white;
}
.cell-empty.img .empty {
	right: 0;
	top: -2%;
}
.cart-control-qt {
	width: 50px;
    background: transparent;
    border: 1px solid #AAA;
    text-align: center;
}